
.container345 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
    padding: 20px;
    border-top: 2px solid #ffffff; /* Top border */
 
  }
  .reacimagelogo{
    width: 200px;
  }
  #secontitle{
    font-size: 30px;
  }
  .flex-container {
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    width: auto;
    text-align: center;
  }
  .flex-container p {
    text-decoration: underline;
  }
  .flex-start {
    
    justify-content: flex-start;
  }
  
  .flex-center {
    justify-content: center;
    margin-left: 80px;
  }
 

  
.container34 {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
  padding: 20px;
 /* Top border */

}
.reacimagelogo{
  width: 200px;
}
#secontitle{
  font-size: 30px;
}
.flex-container {
  color: #ffffff;
  padding: 20px;
  margin: 10px;
  width: auto;
  text-align: center;
}
.flex-container p {
  text-decoration: underline;
}
.flex-start {
  
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
  margin-left: 80px;
}
